.bat-container {
  display: table;
  justify-content: center;
}

.bat-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 1000px;
}

.bat {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.bat h1 {
  font-size: 16px;
  width: 150px;
}

.bat-symbol {
  text-transform: uppercase;
}

.bat-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.bat-sr {
  width: 110px;
}

.bat-pos {
  width: 155px;
}

.bat-dismissal {
  width: 230px;
}